---
const ads = [
  {
    title: "Lexington Themes",
    event: "lexingtonAdd",
    href: "https://lexingtonthemes.com/",
    imgSrc: "https://www.colorsandfonts.com/images/lexington.png",
    logoOne: "https://www.colorsandfonts.com/images/addIcons/astro.svg",
    logoTwo: "https://www.colorsandfonts.com/images/addIcons/tailwind.svg",
    description:
      "Free and premium multipage themes & UI Kits For freelancers, developers, businesses, and personal use crafted with Astro JS & Tailwind CSS",
  },
  {
    title: "Oxbow UI",
    event: "oxbowAdd",
    href: "https://oxbowui.com/",
    imgSrc: "https://www.colorsandfonts.com/images/oxbow.png",
    logoOne: "https://www.colorsandfonts.com/images/addIcons/alpine.svg",
    logoTwo: "https://www.colorsandfonts.com/images/addIcons/tailwind.svg",
    description:
      "Premium components, elements and layouts For freelancers, developers, businesses, and personal use. Beautifully crafted with Tailwind CSS and Alpine JS",
  },
];
---

<section>
  <div class="px-8 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      {
        ads.map((ad) => (
          <div class="group relative  ring-4 ring-base-50 border border-base-200 cursor-pointer   rounded-2xl overflow-hidden">
            <div class="flex flex-col items-start justify-between h-full ">
              <img
                alt={ad.description}
                width="400"
                height="240"
                class="block w-full h-full  cursor-pointer overflow-hidden  object-cover  aspect-[16/8] object-top"
                src={ad.imgSrc}
                style={{ color: "transparent" }}
              />
              <div class="p-8 bg-white border-b border-slate-200 order-first">
                <div class="flex items-center gap-4">
                  <img src={ad.logoTwo} alt="logo" class="size-4" />
                  ·
                  <img src={ad.logoOne} alt="logo" class="size-4" />
                </div>
                <h2 class=" font-medium text-xl text-slate-800 mt-4">
                  {ad.title}
                  <a
                    href={ad.href}
                    title={ad.title}
                    id={ad.event}
                    data-umami-event={ad.event}
                  >
                    <span class="absolute inset-0" />
                  </a>
                </h2>
                <p class="text-slate-500 text-base g mt-2">{ad.description}</p>
                <div class="flex mt-4">
                  <div class="flex items-center justify-center transition-all duration-200 focus:ring-2 focus:outline-none text-white bg-accent-950 group-hover:bg-accent-700 focus:ring-accent-500/50 h-9 px-4 py-2 text-sm font-medium rounded-md">
                    Visit {ad.title}
                  </div>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
